@import "./src/scss/variables";

//portfolio==========================
.progressBar {
	height: 2vh;
	display: flex;
	align-items: center;
	justify-content: center;
	// background: red;
}

.cardsContainer {
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.boxPortfolio {
	width: 100%;
	height: 100vh;
	padding: 120px 110px;
	padding-bottom: 0;
	display: flex;
	justify-content: center;
	background: $nav-background-color-nav;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 10vw));

	.works {
		width: 60%;
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
		height: auto;
		justify-content: center;
		margin-top: 50px;

	}

	.textPortfolio {
		width: 40%;
		margin-bottom: 50px;

		.port1 {
			font-size: 70px;
			font-weight: bold;
		}

		.port2 {
			font-size: 50px;
			font-weight: bold;
			margin-top: 50px;
		}

		.port3 {
			font-size: 25px;
			font-weight: bold;
			margin-top: 50px;
		}

		.port4 {
			font-size: 20px;
			font-weight: bold;
			margin-top: 50px;
		}
	}
}

.logportBox {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.logosPortfolio {
	width: 80px;
	margin: 10px;
	max-height: 70%;
	max-width: 50%;
}

.card_projects {
	margin: 10px;
	width: 100px;
	height: 80px;
	background: white;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		transform: translateY(-3px);
		box-shadow: 0px 4px 24px -1px rgb(66, 66, 66);

	}
}

.linkHover {
	&:hover {
		display: inline-block;
		transform: translateY(-2px);
		margin: 0 5px;
	}
}

.progress {
	width: 60% !important;
	margin: auto;
	margin-top: 20%;
	height: 5px !important;
	background: $nav-background-color !important;
}

.progress-bar {
	background-color: $link-color !important;
}

.cardCont {
	overflow: hidden;
	border-radius: 10px;
}