$card-point-color: rgb(0, 174, 255);
$card-link-color: #536872;
$card-width: 200px;
$card-height: 200px;

.arrowBtn {
  width: 100%;
  height: 100%;
}
.arrowCont {
  width: 50px;
  height: 50px;
}

.backBtn {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  overflow: hidden;

  &:hover {
    transition: 1s;
    background: lightcyan;
  }
}
.projBox {
  padding: 20px;
}
.projContArrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projCont {
  background: transparent;
  overflow: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;

  .titleProj {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .imgSpinner {
    position: absolute;
    top: 45%;
    left: 45%;
  }

  .imgContainer {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      opacity: 0.5;
      transition: opacity 1s linear 0s, transform 0.5s linear;
      z-index: 100;
      max-width: 80%;
    }

    .show {
      transform: scale(0);
      opacity: 0;
      height: 80px;
      width: 80px;
      border-radius: 100%;
      background: $card-point-color;
      position: absolute;
      top: ($card-width/2)-40px;
      left: ($card-height/2)-40px;
      z-index: 1;
      transition: transform 0.5s ease-in, opacity 0.5s ease-in;
      display: flex;
      justify-content: center;
      align-items: center;

      .showText {
        margin-top: 7px;
        font-size: 8px;
      }

      .textCardColor {
        color: $card-link-color;
      }
    }
  }
}

.cardFont {
  font-size: 10px;
}
