// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

//================
//height
//================

@media (max-height: 800px) {
	.main {
		overflow-y: scroll !important;
	}

	.mylink {
		margin-top: 10px !important;
	}

	.socialIcons {
		margin-top: 20px !important;

		a {
			margin-top: 5px !important;
		}
	}
}

//=====================******************

//================
//super extra small
//================

@media (min-width: 300px) {

	#s,
	#t,
	#c {
		width: 450px !important;
		height: 450px !important;
	}
}

//================
// Extra Small devices (landscape phones, 576px and up)
//================

@media (min-width: 450px) {

	#s,
	#t,
	#c {
		width: 400px !important;
		height: 400px !important;
	}
}

//================
// Small devices (landscape phones, 576px and up)
//================

@media (min-width: 576px) {

	#s,
	#t,
	#c {
		width: 400px !important;
		height: 400px !important;
	}
}

//================
// Medium devices (tablets, 768px and up)
//================

@media (min-width: 768px) {
	.boxPortfolio {
		flex-direction: row;
	}

	#s,
	#t,
	#c {
		width: 400px !important;
		height: 400px !important;
	}

	.fixedNav {
		position: fixed !important;
		top: 0;
		transition: 1s;
	}
}

//================
// Large devices (desktops, 992px and up)
//================

@media (min-width: 992px) {
	.works {
		width: 60% !important;
	}

	.textPortfolio {
		width: 40% !important;
	}
}

//================
// Extra large devices (large desktops, 1200px and up)
//================

@media (min-width: 1300px) {

	#s,
	#t,
	#c {
		width: 500px !important;
		height: 500px !important;
	}
}

@media (min-width: 1400px) {

	#s,
	#t,
	#c {
		width: 700px !important;
		height: 700px !important;
	}
}

//==========**************************************

//================
// Large devices (large desktops, 1200px and down)
//================

@media (max-width: 1200px) and (min-width: 768px) {}

//================
// Medium devices (desktops, 992px and down)
//================

@media (max-width: 992px) {
	.arrowText {
		display: none;
	}

	.cardCont {
		width: 90vw !important;
		height: 100px !important;

		margin: 0 !important;
		margin-bottom: 50px !important;

		.shape {
			display: inherit !important;
		}

		.show {
			height: 60px !important;
			width: 60px !important;

			top: 20% !important;
			left: 20% !important;
		}
	}

	.arrowBtn {


		&:hover {
			font-size: 30px !important;
		}
	}

	.boxSkills {
		height: auto !important;
	}

	.contact,
	.contactsPlaceholder {
		height: 40vh !important;
	}

	.textPortfolio {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.skillsdx {
		width: 100% !important;
		margin-left: 0 !important;
		margin-top: 50px !important;
	}

	.myBtnContact {
		&:hover {
			color: $nav-background-color !important;
			background: $link-color !important;
			transform: translateX(0px) !important;
			text-decoration: none !important;
		}
	}

	.logportBox {
		flex-direction: column;
		margin: 30px;
		width: 100% !important;
	}

	.card_projects {
		width: 100% !important;
	}

	.close-container {
		display: none !important;
	}

	.skills1,
	.skills2,
	.skills3 {
		margin-top: 20px !important;
	}

	.skillssx {
		width: 100% !important;
	}

	.boxPortfolio {
		flex-direction: column;
		height: auto !important;
		padding: 120px 80px !important;
	}

	.works {
		width: 100% !important;
		margin-top: 0px !important;
	}

	.textPortfolio {
		width: 100% !important;
	}

	.port1 {
		font-size: 50px !important;
	}

	.port2 {
		font-size: 30px !important;
	}

	.boxHome,
	.boxSkills,
	.boxAbout {
		// display: block !important;
		flex-direction: column;
		align-items: center;
	}



	.boxSkills {
		margin-top: 100px !important;
	}
}

//================
// Small devices (tablets, 768px and down)
//================

@media (max-width: 768px) {
	.imgFooter {
		width: 15% !important;

	}

	.img1,
	.img2 {
		max-width: 90%;
	}

	.fixedMobileNav {
		position: fixed !important;
		top: 0;
		transition: 1s;
	}

	.projCont {
		width: 100% !important;
		flex-direction: column !important;
		padding: 0 !important;
		margin: 0 !important;
	}

	.titleProj,
	.imgContainer {
		width: 100% !important;
		margin-top: 30px !important;
	}



	.card_skills {
		width: 100% !important;
	}

	.navbar {
		height: 250px !important;
		flex-direction: column;
		padding: 20px !important;
		background: $nav-background-color-nav !important;
		z-index: 9990 !important;
	}

	.showNavBtn {
		display: block !important;
		position: fixed;
		top: 20px;
		left: 20px;
		z-index: 9999;
	}

	.hide {
		display: none !important;
	}

	.boxHome,
	.boxSkills {
		padding: 40px !important;
	}




	.contact {
		padding: 20px;
	}

	.contact2 {
		font-size: 25px !important;
	}
}

//================
// Extra Small devices (landscape phones, 576px and down)
//================

@media (max-width: 576px) {

	.imgFooter {
		width: 20% !important;

	}

	.contact {
		padding: 30px !important;
	}

	.contact2 {
		font-size: 20px !important;
	}

	.progress {
		margin-top: 300px !important;
	}

	.navCont {
		width: 10px !important;
	}



	.show {
		height: 50px !important;
		width: 50px !important;
		top: 25px !important;
		left: 25px !important;
	}

	.myBarsCont {
		opacity: 1 !important;

		.myBars {
			width: 40px !important;
			height: 40px !important;
		}
	}

	.mynavbar {
		transform: translateX(-150px) !important;
		opacity: 0.95;
	}

	.home1,
	.home2,
	.home3,
	.myBtnContact {
		margin-top: 70px !important;

	}


	.home1,
	.skills1,
	.about1 {
		font-size: 50px !important;
	}

	.home2,
	.skills2,
	.about2 {
		font-size: 40px !important;
	}

	.home3,
	.skills3,
	.about3 {
		font-size: 25px !important;
	}

	.Toastify__toast--default {
		width: 50% !important;
		height: 20px !important;
	}

	.Toastify__toast {
		font-size: 10px !important;
	}
}

//================
//Super extra small
//================

@media (max-width: 450px) {

	.contact,
	.contactsPlaceholder {
		height: 40vh !important;
	}

	.boxPortfolio {
		padding: 120px 20px !important;
		padding-bottom: 0 !important;
	}

	.port1 {
		font-size: 40px !important;
	}

	.port2,
	.port3,
	.port4 {
		font-size: 17px !important;
	}

	.logosPortfolio {
		width: 60px !important;
		margin: 5px !important;
	}

	.cardCont {}
}